<h2>sl-modal</h2>
<p class="lead">A modal component used to wrap content in. Based on <a href="http://getbootstrap.com/javascript/#modals">Bootstrap - Modals</a>.</p>
<hr>

<h3>Examples</h3>

<section id="simple">
    <div class="row">
        <div class="col-lg-8">
            <h6>Simple usage</h6>
            <pre>\{{#sl-modal streamName="demoModal"}}
    \{{sl-modal-header title="Simple Example"}}

    \{{#sl-modal-body}}
         &lt;p&gt;A simple modal example&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{sl-modal-footer}}
\{{/sl-modal}} </pre>
        {{#sl-modal streamName="demoModal"}}
            {{sl-modal-header title="Simple Example"}}

            {{#sl-modal-body}}
                <p>A simple modal example</p>
            {{/sl-modal-body}}

            {{sl-modal-footer}}
        {{/sl-modal}}
        </div>
        <div class="col-lg-4">
            <h6>Click to Show Component</h6>
            {{sl-button
                label="Open Modal"
                showModalWithStreamName="demoModal"
            }}
        </div>
    </div>
</section>

